# --- Airflow Core ---

psycopg2-binary
apache-airflow-providers-postgres
apache-airflow-providers-http
apache-airflow-providers-celery
redis

# --- Data Processing ---

pandas
numpy
requests
pendulum

# --- ML & App Dependencies ---
scikit-learn>=1.5.0
mlflow>=2.14.0
nltk
spacy
tensorflow[and-cuda]
fastapi
uvicorn
python-dotenv
textblob
seaborn
matplotlib
wordcloud
kagglehub
gensim

# Spacy

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl